img{
    margin: 10px;
    border: 2px solid #000;
}
button{
    padding: 10px;
    border-radius: 15px;
}
h1{
    text-align: center;
    color: rgb(33, 138, 195);
    padding: 10px;
}
*{
    
    margin: 0px;
}
